Flask==3.0.3
flask-cors==4.0.1
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.5.1+cpu
torchvision==0.20.1+cpu
torchaudio==2.5.1+cpu
pandas==2.2.3
pillow==10.4.0
openpyxl==3.1.5
# Fuzzy string matching
rapidfuzz==3.6.1

# Wikipedia API
wikipedia==1.4.0

# Plotting (matplotlib)
matplotlib==3.7.5

